@import url('https://fonts.googleapis.com/css2?family=Allerta&display=swap');

body, html {
    margin: 0;
    padding: 0;
}

.header {
    position: relative;
    width: 100vw;
    height: 30vh;
    background-color: #addbb4;
}

.menu {
    position: absolute;
    top: 0px;
    right: 0px;
    padding-right: 10px;
}

.menu-item {
    font-family: 'Allerta', sans-serif;
    font-size: 38px;
    color: #664949;
    margin-right: 0px;
    display: inline-block;
    background-color: #addbb4;
    border-radius: 8px;
    border: none;
}

.menu-item:hover {
    background-color: #664949;
    color: whitesmoke;
}

.header-text {
    position: relative;
    font-family: 'Allerta', sans-serif;
    font-size: 48px;
    color: #664949;
    margin-left: 143px;
    margin-top: 100px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: .15em solid white; /* The typwriter cursor */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
}
  
/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100%; }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
}

.main {
    position: relative;
    margin: 0;
    padding: 0;
}

.about-me {
    position: absolute;
    font-family: 'Allerta', sans-serif;
    font-size: 48px;
    color: #664949;
    margin-left: 143px;
    margin-top: 80px;
    display: inline-block;
}

.bio {
    position: absolute;
    width: 40%;
    height: 93px;
    left: 500px;
    top: 150px;
    font-family: 'Allerta', sans-serif;
    font-size: 24px;
    color: #664949;
}

.ellipse1 {
    position: absolute;
    height: 195px;
    width: 267px;
    left: 171px;
    top: 190px;
    border: 1.5px solid #664949;
    border-radius: 50%;
    transform: rotate(-20deg);
}

.ellipse2 {
    position: absolute;
    height: 134.9px;
    width: 206.06px;
    left: 230px;
    top: 270px;
    border: 3px solid #664949;
    border-radius: 50%;
    transform: rotate(60deg);
}

.ellipse3 {
    position: absolute;
    width: 209.06px;
    height: 168.96px;
    left: 300px;
    top: 246px;
    border: 2px solid #664949;
    border-radius: 50%;
    transform: rotate(-130deg);
}

.profpic {
    position: absolute;
    width: 216px;
    height: 216px;
    left: 223px;
    top: 160px;
    object-fit: cover;
    border-radius: 9999px;
}

.circle {
    position: absolute;
    border-radius: 9999px;
    background-color: #addbb4;
    width: 250px;
    height: 250px;
    left: 206px;
    top: 143px;
    opacity: 0;
    animation: scaleIn 4s infinite cubic-bezier(.36, .11, .89, .32);
}

@keyframes scaleIn {
    from {
      transform: scale(0.8, 0.8);
      opacity: 0.8;
    }
    to {
      transform: scale(1.5, 1.5);
      opacity: 0;
    }
  }

.linkedin {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50%;
    bottom: 15px;
}
