@import url('https://fonts.googleapis.com/css2?family=Allerta&display=swap');

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Allerta', sans-serif;
    background-color: #addbb4;
}

.header {
    position: relative;
    width: 100%;
    height: 30vh;
    min-height: 211px;
    min-width: 1058px;
    background: #664949;
    /* background: linear-gradient(-45deg, #addbb4, #8287ca);
    background-size: 400% 200%;
    animation: gradient 15s ease infinite; */
}

@keyframes gradient {
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.menu {
    position: absolute;
    top: 0px;
    right: 12px;
    /* margin-right: 10px; */
}

.menu-item {
    font-family: 'Allerta', sans-serif;
    font-size: 38px;
    color: whitesmoke;
    /* margin-right: 10px; */
    display: inline-block;
    background-color: transparent;
    border-radius: 8px;
    border: none;
    padding: 10px;
}

.menu-item:hover {
    background-color: #addbb4;
    color: #664949;
    animation: menu-gradient 1s ease;
}

@keyframes menu-gradient {
    from { 
        background-color: transparent;
        color: whitesmoke;
    }
    to {
        background-color: #addbb4;
        color: #664949;
    }
}

.header-text {
    position: relative;
    font-family: 'Allerta', sans-serif;
    font-size: 48px;
    color: whitesmoke;
    margin-left: 143px;
    margin-top: 100px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: .15em solid white; /* The typwriter cursor */
    animation: 
      typing 1.25s steps(40, end),
      blink-caret .75s step-end infinite;
}
  
/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 375px; }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
}

.main {
    margin: auto;
    position: relative;
    width: 95%;
    height: 600px;
}

.about-me {
    position: absolute;
    font-family: 'Allerta', sans-serif;
    font-size: 48px;
    color: #664949;
    margin-left: 15%;
    margin-top: 80px;
    display: inline-block;
}

.bio {
    position: absolute;
    width: 50%;
    height: 93px;
    left: 500px;
    top: 150px;
    font-family: 'Allerta', sans-serif;
    font-size: 22px;
    color: #664949;
}

.profpic {
    position: absolute;
    width: 216px;
    height: 216px;
    left: 223px;
    top: 160px;
    object-fit: cover;
    border-radius: 9999px;
}

.circle {
    position: absolute;
    border-radius: 9999px;
    background-color: whitesmoke;
    width: 250px;
    height: 250px;
    left: 206px;
    top: 143px;
    opacity: 0;
    animation: scaleIn 4s infinite cubic-bezier(.36, .11, .89, .32);
}

@keyframes scaleIn {
    from {
        transform: scale(0.8, 0.8);
        opacity: 0.8;
    }
    to {
        transform: scale(1.5, 1.5);
        opacity: 0;
    }
}

.linkedin {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 30px;
}

.mascot {
    display: block;
    position: relative;
    padding-top: 40px;
    margin: 20px auto 0px;
    animation: 3s infinite alternate floating;
}

.shadow {
    height: 2px;
    display: block;
    margin: 15px auto;
    animation: 3s infinite alternate shadow;
}
  
@keyframes floating {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-10px);
    }
    100% {
        transform: translatey(0px);
    }
}

@keyframes shadow {
    0% {
        width:180px;
        box-shadow:0px 10px 8px rgba(0,0,0,.8);
    }
    50% {
        width:150px;
        box-shadow:0px 10px 8px rgba(0,0,0,.5);
    }
    100% {
        width:180px;
        box-shadow:0px 10px 8px rgba(0,0,0,.8);
    }
}

/* CAROUSEL */

@keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
}
  
@keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
}
  
@keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
}

* {
    /* box-sizing: border-box; */
    scrollbar-color: transparent transparent; /* thumb and track color */
    scrollbar-width: 0px;
}
  
*::-webkit-scrollbar {
    width: 0;
}
  
*::-webkit-scrollbar-track {
    background: transparent;
}
  
*::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
}
  
* {
    -ms-overflow-style: none;
}

.carousel_list {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
.carousel {
    position: relative;
    padding-top: 75%;
    width: 70%;
    top: 300px;
    height: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;
}
  
.carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    list-style: none;
    margin: 0;
    padding: 0;
}
  
.carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    background-color: #f99;
    counter-increment: item;
}
  
.carousel__slide:nth-child(even) {
    background-color: #99f;
}
  
.carousel__slide:before {
    content: counter(item);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-40%,70px);
    color: #fff;
    font-size: 2em;
}
  
.carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
}
  
@media (hover: hover) {
    .carousel__snapper {
      animation-name: tonext, snap;
      animation-timing-function: ease;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }
  
    .carousel__slide:last-child .carousel__snapper {
      animation-name: tostart, snap;
    }
}
  
@media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
      animation-name: none;
    }
}
  
.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
    animation-name: none;
}
  
.carousel__navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}
  
.carousel__navigation-list,
.carousel__navigation-item {
    display: inline-block;
}
  
.carousel__navigation-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #664949;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
}
  
.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
    position: absolute;
    top: 0;
    margin-top: 37.5%;
    width: 4rem;
    height: 4rem;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 0;
    outline: 0;
}
  
.carousel::before,
.carousel__prev {
    left: -1rem;
}
  
.carousel::after,
.carousel__next {
    right: -1rem;
}
  
.carousel::before,
.carousel::after {
    content: '';
    z-index: 1;
    background-color: #664949;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: center;
    pointer-events: none;
}

/* For debugging the annoying horizontal scroll bar */
/* * {border:1px solid #f00} */