@import url('https://fonts.googleapis.com/css2?family=Allerta&display=swap');

body, html {
    margin: 0;
    padding: 0;
}

.header {
    position: relative;
    width: 100vw;
    height: 30vh;
    background: linear-gradient(-45deg, #addbb4, #8287ca); /* #79a0c4 */
    background-size: 400% 200%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.square-L1 {
    position: absolute;
    width: 51px;
    height: 51px;
    background: #664949;
    /* animation: dissipate-L1 4s infinite; */
    opacity: 0.7;
}

.square-L2 {
    position: absolute;
    width: 51px;
    height: 51px;
    background: #664949;
    /* animation: dissipate-L2 4s infinite; */
    opacity: 0.5;
}

.square-L3 {
    position: absolute;
    width: 51px;
    height: 51px;
    background: #664949;
    /* animation: dissipate-L3 4s infinite; */
    opacity: 0.3;
}

.square-R {
    position: absolute;
    width: 51px;
    height: 51px;
    background: #664949;
    animation: dissipate-R 4s infinite;
}

@keyframes dissipate-L1 {
    from { opacity: 0.7; }
    to { opacity: 0.3; }
}

@keyframes dissipate-L2 {
    from { opacity: 0.5; }
    to { opacity: 0.2; }
}

@keyframes dissipate-L3 {
    from { opacity: 0.3; }
    to { opacity: 0.1; }
}

@keyframes dissipate-R {
    from { opacity: 0.9; }
    to { opacity: 0.7; }
    to { opacity: 0.5; }
    to { opacity: 0.3; }
}

.menu {
    position: absolute;
    top: 0px;
    right: 0px;
    padding-right: 10px;
}

.menu-item {
    font-family: 'Allerta', sans-serif;
    font-size: 38px;
    color: #664949;
    margin-right: 0px;
    display: inline-block;
    background-color: transparent;
    border-radius: 8px;
    border: none;
    padding: 10px;
}

.menu-item:hover {
    background-color: #664949;
    color: whitesmoke;
    animation: menu-gradient 1s ease;
}

@keyframes menu-gradient {
    from { 
        background-color: transparent;
        color: #664949;
    }
    to {
        background-color: #664949;
        color: whitesmoke;
    }
}

.header-text {
    position: relative;
    font-family: 'Allerta', sans-serif;
    font-size: 48px;
    color: #664949;
    margin-left: 143px;
    margin-top: 100px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: .15em solid white; /* The typwriter cursor */
    animation: 
      typing 1.25s steps(40, end),
      blink-caret .75s step-end infinite;
}
  
/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 375px; }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
}

.main {
    position: relative;
    margin: 0;
    padding: 0;
    width: 80%;
}

.about-me {
    position: absolute;
    font-family: 'Allerta', sans-serif;
    font-size: 48px;
    color: #664949;
    margin-left: 143px;
    margin-top: 80px;
    display: inline-block;
}

.bio {
    position: absolute;
    width: 50%;
    height: 93px;
    left: 500px;
    top: 150px;
    font-family: 'Allerta', sans-serif;
    font-size: 24px;
    color: #664949;
}

.ellipse1 {
    position: absolute;
    height: 195px;
    width: 267px;
    left: 171px;
    top: 190px;
    border: 1.5px solid #664949;
    border-radius: 50%;
    transform: rotate(-20deg);
}

.ellipse2 {
    position: absolute;
    height: 134.9px;
    width: 206.06px;
    left: 230px;
    top: 270px;
    border: 3px solid #664949;
    border-radius: 50%;
    transform: rotate(60deg);
}

.ellipse3 {
    position: absolute;
    width: 209.06px;
    height: 168.96px;
    left: 300px;
    top: 246px;
    border: 2px solid #664949;
    border-radius: 50%;
    transform: rotate(-130deg);
}

.profpic {
    position: absolute;
    width: 216px;
    height: 216px;
    left: 223px;
    top: 160px;
    object-fit: cover;
    border-radius: 9999px;
}

.circle {
    position: absolute;
    border-radius: 9999px;
    background-color: #addbb4;
    width: 250px;
    height: 250px;
    left: 206px;
    top: 143px;
    opacity: 0;
    animation: scaleIn 4s infinite cubic-bezier(.36, .11, .89, .32);
}

@keyframes scaleIn {
    from {
        transform: scale(0.8, 0.8);
        opacity: 0.8;
    }
    to {
        transform: scale(1.5, 1.5);
        opacity: 0;
    }
}

.flip-card {
    position: relative;
    background-color: transparent;
    width: 300px;
    height: 200px;
    perspective: 1500px; /* 3D effect */
    left: 1100px;
    top: 130px;
}

/* position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    border-radius: 8px;
}

.flip-card-front { /* if image is missing */
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    background-color: #664949;
    color: whitesmoke;
    width: 300px;
    height: 400px;
    font-family: 'Allerta', sans-serif;
    transform: rotateY(180deg);
}

.linkedin {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50%;
    bottom: 15px;
}
