@import url('https://fonts.googleapis.com/css2?family=Allerta&display=swap');

body, html {
    margin: 0;
    padding: 0;
}

.header {
    position: relative;
    width: 100vw;
    height: 30vh;
    background-color: #addbb4;
}

.square-L1 {
    position: absolute;
    width: 51px;
    height: 51px;
    background: #664949;
    animation: dissipate-L1 4s infinite;
    opacity: 0.5;
}

.square-L2 {
    position: absolute;
    width: 51px;
    height: 51px;
    background: #664949;
    animation: dissipate-L2 4s infinite;
    opacity: 0.3;
}

.square-L3 {
    position: absolute;
    width: 51px;
    height: 51px;
    background: #664949;
    animation: dissipate-L3 4s infinite;
    opacity: 0.1;
}

.square-R {
    position: absolute;
    width: 51px;
    height: 51px;
    background: #664949;
    animation: dissipate-R 4s infinite;
}

@keyframes dissipate-L1 {
    from { opacity: 0.7; }
    to { opacity: 0.3; }
}

@keyframes dissipate-L2 {
    from { opacity: 0.5; }
    to { opacity: 0.2; }
}

@keyframes dissipate-L3 {
    from { opacity: 0.3; }
    to { opacity: 0.1; }
}

@keyframes dissipate-R {
    from { opacity: 0.9; }
    to { opacity: 0.7; }
    to { opacity: 0.5; }
    to { opacity: 0.3; }
}

.header-text {
    position: relative;
    font-family: 'Allerta', sans-serif;
    font-size: 48px;
    color: #664949;
    margin-left: 143px;
    margin-top: 100px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: .15em solid white; /* The typwriter cursor */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
}
  
/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100%; }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
}

.main {
    position: relative;
    margin: 0;
    padding: 0;
}

.about-me {
    position: absolute;
    font-family: 'Allerta', sans-serif;
    font-size: 48px;
    color: #664949;
    margin-left: 200px;
    margin-top: 80px;
    display: inline-block;
}

.bio {
    position: absolute;
    width: 514px;
    height: 93px;
    left: 547px;
    top: 189px;
    font-family: 'Allerta', sans-serif;
    font-size: 24px;
    color: #664949;
}

.ellipse1 {
    position: absolute;
    height: 195px;
    width: 267px;
    left: 171px;
    top: 190px;
    border: 1.5px solid #664949;
    border-radius: 50%;
    transform: rotate(-20deg);
}

.ellipse2 {
    position: absolute;
    height: 134.9px;
    width: 206.06px;
    left: 230px;
    top: 270px;
    border: 3px solid #664949;
    border-radius: 50%;
    transform: rotate(60deg);
}

.ellipse3 {
    position: absolute;
    width: 209.06px;
    height: 168.96px;
    left: 300px;
    top: 246px;
    border: 2px solid #664949;
    border-radius: 50%;
    transform: rotate(-130deg);
}

.profpic {
    position: absolute;
    width: 216px;
    height: 216px;
    left: 263px;
    top: 160px;
    object-fit: cover;
    border-radius: 9999px;
}

.circle {
    position: absolute;
    border-radius: 9999px;
    background-color: #addbb4;
    width: 250px;
    height: 250px;
    left: 246px;
    top: 143px;
    opacity: 0;
    animation: scaleIn 4s infinite cubic-bezier(.36, .11, .89, .32);
}

@keyframes scaleIn {
    from {
        transform: scale(0.8, 0.8);
        opacity: 0.8;
    }
    to {
        transform: scale(1.5, 1.5);
        opacity: 0;
    }
}
