@import url('https://fonts.googleapis.com/css2?family=Allerta&display=swap');

body, html {
    margin: 0;
    padding: 0;
    background-color: #addbb4;
}

.header {
    position: relative;
    width: 100%;
    height: 30vh;
    min-height: 211px;
    background: #664949;
    /* background: linear-gradient(-45deg, #addbb4, #8287ca);
    background-size: 400% 200%;
    animation: gradient 15s ease infinite; */
}

@keyframes gradient {
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.menu {
    position: absolute;
    top: 0px;
    right: 12px;
    /* margin-right: 10px; */
}

.menu-item {
    font-family: 'Allerta', sans-serif;
    font-size: 38px;
    color: whitesmoke;
    /* margin-right: 10px; */
    display: inline-block;
    background-color: transparent;
    border-radius: 8px;
    border: none;
    padding: 10px;
}

.menu-item:hover {
    background-color: #addbb4;
    color: #664949;
    animation: menu-gradient 1s ease;
}

@keyframes menu-gradient {
    from { 
        background-color: transparent;
        color: whitesmoke;
    }
    to {
        background-color: #addbb4;
        color: #664949;
    }
}

.header-text {
    position: relative;
    font-family: 'Allerta', sans-serif;
    font-size: 48px;
    color: whitesmoke;
    margin-left: 143px;
    margin-top: 100px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: .15em solid white; /* The typwriter cursor */
    animation: 
      typing 1.25s steps(40, end),
      blink-caret .75s step-end infinite;
}
  
/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 375px; }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
}

.main {
    margin: auto;
    position: relative;
    width: 95%;
    height: 600px;
}

.about-me {
    position: absolute;
    font-family: 'Allerta', sans-serif;
    font-size: 48px;
    color: #664949;
    margin-left: 143px;
    margin-top: 80px;
    display: inline-block;
}

.bio {
    position: absolute;
    width: 50%;
    height: 93px;
    left: 500px;
    top: 150px;
    font-family: 'Allerta', sans-serif;
    font-size: 22px;
    color: #664949;
}

.profpic {
    position: absolute;
    width: 216px;
    height: 216px;
    left: 223px;
    top: 160px;
    object-fit: cover;
    border-radius: 9999px;
}

.circle {
    position: absolute;
    border-radius: 9999px;
    background-color: whitesmoke;
    width: 250px;
    height: 250px;
    left: 206px;
    top: 143px;
    opacity: 0;
    animation: scaleIn 4s infinite cubic-bezier(.36, .11, .89, .32);
}

@keyframes scaleIn {
    from {
        transform: scale(0.8, 0.8);
        opacity: 0.8;
    }
    to {
        transform: scale(1.5, 1.5);
        opacity: 0;
    }
}

.showcase {
    position: relative;
    margin: auto;
    width: 80%;
    height: 300px;
}

.flip-card {
    position: relative;
    background-color: transparent;
    width: 300px;
    height: 200px;
    perspective: 1500px; /* 3D effect */
}

/* position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    border-radius: 8px;
}

.flip-card-front { /* if image is missing */
    background-color: #664949;
    color: whitesmoke;
    width: 300px;
    height: 400px;
    font-family: 'Allerta', sans-serif;
}

.flip-card-back {
    background-color: #664949;
    color: whitesmoke;
    width: 300px;
    height: 400px;
    font-family: 'Allerta', sans-serif;
    transform: rotateY(180deg);
}

.linkedin {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50%;
    bottom: 15px;
}

/* For debugging the annoying horizontal scroll bar */
/* * {border:1px solid #f00} */