@import url('https://fonts.googleapis.com/css2?family=Allerta&display=swap');

body, html {
    margin: 0;
    padding: 0;
}

.header {
    position: relative;
    width: 100vw;
    height: 30vh;
    background-color: #addbb4;
}

.header-text {
    position: relative;
    font-family: 'Allerta', sans-serif;
    font-size: 48px;
    color: #664949;
    margin-left: 143px;
    margin-top: 100px;
    display: inline-block;
}

.main {
    position: relative;
    margin: 0;
    padding: 0;
}

.about-me {
    position: absolute;
    font-family: 'Allerta', sans-serif;
    font-size: 48px;
    color: #664949;
    margin-left: 200px;
    margin-top: 80px;
    display: inline-block;
}

.bio {
    position: absolute;
    width: 514px;
    height: 93px;
    left: 547px;
    top: 189px;
    font-family: 'Allerta', sans-serif;
    font-size: 24px;
    color: #664949;
}

.ellipse1 {
    position: absolute;
    height: 195px;
    width: 267px;
    left: 171px;
    top: 190px;
    border: 1.5px solid #664949;
    border-radius: 50%;
    transform: rotate(-20deg);
}

.ellipse2 {
    position: absolute;
    height: 134.9px;
    width: 206.06px;
    left: 230px;
    top: 270px;
    border: 3px solid #664949;
    border-radius: 50%;
    transform: rotate(60deg);
}

.ellipse3 {
    position: absolute;
    width: 209.06px;
    height: 168.96px;
    left: 300px;
    top: 246px;
    border: 2px solid #664949;
    border-radius: 50%;
    transform: rotate(-130deg);
}

.profpic {
    position: absolute;
    width: 216px;
    height: 216px;
    left: 263px;
    top: 160px;
    object-fit: cover;
    border-radius: 9999px;
}
